body { font-family: Arial, sans-serif; padding: 10px; margin:0; background: #f7f7f7; }
form { max-width: 500px; margin: auto; background: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);}
label { display:block; margin-top:15px; font-weight:bold; font-size:14px; }
input, select, button, textarea { width:100%; padding:10px; margin-top:5px; border-radius:4px; border:1px solid #ccc; box-sizing:border-box; font-size:14px;}
.button-group {
    display: flex;
    gap: 10px;
}

#resetBtn {
    background: #ccc;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 6px;
}

#resetBtn:hover {
    background: #b3b3b3;
}
#uploader { border:2px dashed #ccc; padding:15px; text-align:center; margin-top:5px; cursor:pointer; border-radius:4px; font-size:14px;}
#fileList { margin-top:10px; font-size:13px; word-break: break-word; }
.dynamic-fields { margin-top:10px; display:none; }

@media (max-width:600px){
  form { padding: 15px; }
  button { font-size:14px; padding:10px; }
  label, input, select, textarea { font-size:13px; }
}

